<nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
        <h1 style="color:aliceblue; font-size:20px;">Angular 13 CRUD</h1>
        <div class="dflex"></div>
            <button (click)="clickAddStudent()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>
    </div>
</nav>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Fees</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stu of studentData">
            <td>{{stu.id}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.email}}</td>
            <td>{{stu.mobile}}</td>
            <td>{{stu.fees}}</td>
            <td>
                <button (click)="onEdit(stu)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button (click)="deleteStudents(stu)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email ID</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
                  <div class="mb-3">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control" formControlName="mobile">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Fees</label>
                    <input type="text" class="form-control" formControlName="fees">
                  </div>
              </form>

        </div>
        <div class="modal-footer"> 
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postStudentDetails()" class="btn btn-primary">Add Record</button>
          <button type="button" *ngIf="showUpdate" (click)="updateStudentDetails()" class="btn btn-warning">Update Record</button>
        </div>
      </div>
    </div>
  </div>
